<div data-aos="fade-up" class="app">
  <form (submit)="addTodo()">
    <div class="fields">
      <div class="todo-input-container">
        <input
          [(ngModel)]="inputTodo"
          type="text"
          name="input-Todo"
          id="todo-input"
          placeholder="Enter todo..."
          class="todo-input {{ this.error ? 'errorInput' : '' }}"
        />
        <p class="error-text" *ngIf="this.error">
          Todo has to have a description...
        </p>
      </div>
      <div class="input-side">
        <input
          [(ngModel)]="inputTimeFrom"
          type="time"
          class="time-input"
          name="time-input"
          min="00:00:00"
          max="24:00:00"
          required
        />
        <img src="../../../assets/images/right.svg" alt="Arrow Right Time" />
        <input
          [(ngModel)]="inputTimeTo"
          type="time"
          class="time-input"
          name="time-input"
          min="00:00:00"
          max="24:00:00"
          required
        />
      </div>
    </div>
    <div class="submit">
      <input type="submit" value="Add Todo" class="todo-submit" />
      <button (click)="deleteAll()" value="Add Todo" class="todo-submit">
        remove all
      </button>
    </div>
  </form>
  <div class="parent">
    <div
      (click)="toggleDone(i)"
      *ngFor="let todo of todos; let i = index"
      class="todo {{ todo.completed ? 'done' : '' }}"
    >
      <div class="id">{{ i + 1 }}</div>
      <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
      <div class="times">
        {{ todo.timeFrom }}
        <img src="../../../assets/images/right.svg" alt="Arrow Right Time" />
        {{ todo.timeTo }}
      </div>
      <button class="delete" (click)="deleteTodo(i)">Remove</button>
    </div>
    <div *ngIf="todos.length === 0" class="nothing">
      Nothing on your agenda...
    </div>
  </div>
</div>
